
body{
	font-family:open sans, segoe ui, sans-serif;
	margin:0;
	background-color: #ebf4f9;
	background-attachment: fixed;
}
header {
	box-shadow:0 0 5px 0 rgba(0,0,0,0.3);
	padding:15px 20px 15px 20px;
	background: #71a4d4;
	color: #ffffff;
}
header h1 {
	margin: 0;
	font-size: 1.5em;
	line-height: 1;
}
main {
	padding:0px 20px 10px 20px;
}
input[type="button"], input[type="radio"] + label {
	border:0px;
	color:black;
	padding:5px 15px;
	font-family:open sans, segoe ui, sans-serif;
	font-size:16px;
	display:inline-block;
	background:#eee;
	margin: 2px 0;
	outline:0;
	user-select:none;
	border-radius: 20px;
	cursor: pointer;
}
input[type="button"]:hover, label:hover {
	background:#ddd;
}
input[type="button"]:active, label:active {
	background:#aaa;
}
