body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #4c4c4c;
	font-weight: lighter;
	text-align: left;	
}
titre {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #1E6112;
	font-weight: bold;
}
/*
     FILE ARCHIVED ON 16:21:05 Apr 20, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:39:33 Apr 20, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.698
  exclusion.robots: 0.025
  exclusion.robots.policy: 0.009
  esindex: 0.013
  cdx.remote: 9.903
  LoadShardBlock: 123.159 (3)
  PetaboxLoader3.datanode: 61.193 (4)
  PetaboxLoader3.resolve: 229.273 (2)
  load_resource: 182.501
*/